/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Container*/
.modal-card {
    border-radius: 25px;
    border: 3px solid rgb(128,251,242);
}
/* Modal Header Bar */
.modal-card-head {
    background-color: rgb(192, 233, 223);
}
/* Modal Header Text */
.modal-card-title {
    color: rgb(22,58,84);
    font-weight: bold;
}
/* Modal Content Container */
.modal-card-body {
    background: rgb(238,255,251);
    font-size: 18px;
}
  
/* The Close Button */
.closeModal {
    display: flex;
    flex-direction: row-reverse;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
  
.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

