/* Navigation Bar */
nav.navbar {
    position:fixed;
    width:100%;
    top: 0px;
    z-index: 2;
    background-color: rgb(238,255,251);
    padding: 0px;
    margin: 0px;
}

/* Navbar menu color */
nav.navbar,
.navbar-menu {
    background-color: rgb(192, 233, 223);
    border-bottom: 2px solid rgb(128,251,242);
}
/* Dropdown arrow color */
.navbar-link:not(.is-arrowless)::after {
    border-color:rgb(103, 188, 214);
}
/* Bottom border */
@media screen and (min-width: 1024px) {
    .navbar-dropdown {
        background-color: rgb(192, 233, 223);
        border: 2px solid rgb(128,251,242);
        border-top: 0px;
    }
}
/* Dropdown background color match */
.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
    background-color: rgb(192, 233, 223);
}

/* Anchor Jumps */
#aboutMe,
#webPortfolio,
#artPortfolio {
    padding-top: 52px;
}

/* Contact Links in line icons */
.smallIcon {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}