/* ----- 1. Content Formatting Options----- */
/* HTML Style */
html {
    background: rgb(127,177,186) ;
    background-image: url('./assets/Abstract-BG.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Style */
body {
    background: transparent;
    color:var(--darkBlue);
}

/* Header Style */
.header {
    background-color: rgb(238,255,251, 0.5);
    padding: 10px;
    padding-top: 20px;
    border-bottom: solid 2px var(--lightBlue);
}

/* Main Content Container */
.container {
    padding: 5px;
    margin: auto;
    background: rgb(238,255,251,0.5);
    border-radius: 25px;
    border: 2px solid var(--lightBlue);
}

/* Section Header/Title */
.sectionTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 0px auto 15px auto;
    width: 80%;
    border: 2px solid var(--lightBlue);
    border-radius: 10px;
    background-color: rgb(103, 188, 214,0.5);
}

/* ----- 2. Element Formatting Options----- */
/* Anchor Tags */
a {
    color: var(--darkBlue);
}
a:hover, 
a:active {
    color: #2160c4;
}

/* Button Tags */
.button {
    padding: 12px 20px;
}

.buttonBlue {
    border-radius: 5px;
    background-color:  rgb(224, 245, 243);
    color: var(--darkBlue);
    border-color: var(--lightBlue);
}
.buttonBlue:hover, 
.buttonBlue:active {
    background-color: rgb(32, 77, 83);
    color: rgb(195, 230, 233);
}

.buttonRed {
    border-radius: 5px;
    background-color:  rgb(245, 224, 236);
    color: rgb(84, 22, 22);
    border-color: rgb(251, 128, 165);
}
.buttonRed:hover, 
.buttonRed:active {
    background-color: rgb(83, 32, 32);
    color: rgb(233, 195, 195);
}
/* Text Input Tags */
input[type=text], input[type=email], textarea {
    margin: 5px 0px;
    padding: 12px;
    border: 1px solid var(--lightBlue);
    resize: vertical;
    border-radius: 3px;
}
textarea {
    min-height: 3rem;
    height: 12rem;
}

/* h1-6 Styling */
h1 {
    font-size: 50px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Horizontal Rule */
hr {
    size: 2px;
    background-color: var(--lightBlue);
}
hr.tinyHR {
    width: 25%;
    margin: 5px auto;
}
hr.smallHR {
    width: 75%;
    margin: 5px auto;
}
hr.wideHR {
    width: 95%;
    margin: 5px auto;
}
hr.fullHR {
    width: 100%;
    margin: 5px auto;
}
/* Lists */
ul {
    list-style-type:disc;
    margin-left: 2em;
    margin-top: 1em;
}
ul.noBullets {
    list-style-type:none;
    margin: auto;
}
ul.noBullets > li {
    padding-top: 2px;
    padding-bottom: 2px;
}
ul.alternating > li:nth-child(odd) {
    background-color: #80FBF255;
}

/* Fancy Text */
p.quote {
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    line-height: 2rem;
}
p.smallText {
    font-size: 1rem;
    font-weight: normal;
    margin-top: .5rem;
}

/* ----- 3. Basic Formatting Options----- */
/* Center contents */
.centered {
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

/* Display content in Column */
.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Row Reverse display */
@media screen and (min-width: 1024px) {
    .reverseRow {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* Bottom border underline */
.underlined {
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-bottom: solid 1px var(--lightBlue);
}

/* Hide content */
.invis {
    display: none;
}

/* Show content */
.appear {
    display: block;
}

/* Display content in a single line */
.singleLine {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

/* Add in a border */
.bordered {
    border: 2px solid var(--lightBlue);
    padding: 2px;
}

/* Curve the border */
.borderCurved {
    border-radius: 25px;
}

/* ----- 4. Variables ----- */
/* Colors */
:root {
    --lightBlue: #80FBF2;
    --darkBlue: #163A54;
    --whiteBlue: #EEFFFB;
    --babyBlue: #5FA3FC;
}

/* Notes
border-color: rgb(128,251,242) #80FBF2
Text color: rgb(22,58,84); //#163A54
background-color: rgb(238,255,251,0.5); //#EEFFFB

Hover color: rgb(95, 163, 252); //5FA3FC

Footer Gradient
border-image: radial-gradient(#80acff, rgb(128,251,242)) 1; 

Background Gradient (Top Left to bottom right)
#B8DCC0,#7FB1B8,#64647E
*/